@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	text-align: center;
}
a{
	text-decoration: none;
}
li,ul{
	list-style: none;
}
#bg{

position:fixed;
top:0;
left:0;
bottom:0;
right:0;
}
.ig{
	height:100%;
width:100%;
border:0;
}
#log{
	position: absolute;
    top: 55%;
    width: 343px;
	height: 77px;
}
.logo{
	width: 236px;
	height: 77px;
	background: url(../img/head.png) ;
}
.bird{
	width: 40px;
	height: 30px;
	background: url(../img/bird0.png) no-repeat;
	margin-right: 10%;
}
#start{
	width: 100%;
	position: absolute;
	bottom: 50%;
}
#log li{
	float:left;
}
.btnstart{
	width: 85px;
	height: 29px;
	border:none;
	background: url(../img/start.jpg) no-repeat;
	position: absolute;
	top:8em;
	 left: 50%;
  transform: translateX(-50%);
}
#banner li{
		width: 343px;
		height: 14px;
		float: left;
		background: yellow;
		background: url(../img/banner.jpg) no-repeat;
}
#banner{
	width: 686px;
	position: absolute;
	bottom: 8%;
}
.Brid{
	width: 40px;
	height: 30px;
	background: url(../img/bird0.png) no-repeat;
	position: absolute;
	top:160px;
	left:70px;
}
.conduit{
	position: absolute;
	width: 62px;
	right: -62px;
}
.conduit div{
	width: 62px;
}
#gameover{
	position:relative;
	display: none;
	bottom: 70%;
	 left: 50%;
  transform: translateX(-50%);
}
.gameover{
	width: 269px;
	height: 135px;
	background:url(../img/message.jpg) no-repeat;
	margin-top: 60px;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}
.HistoryNumber{
	position: absolute;
	width: 53px;
	height: 37px;
	bottom: 13px;
	right: 0px;
	margin-right: 28px;
	line-height: 37px;
	text-align: center;
	font-size: 40px;
}
.gameover .number{
	position: absolute;
	width: 53px;
	height: 37px;
	bottom: 66px;
	right: 0px;
	margin-right: 28px;
	line-height: 37px;
	text-align: center;
	font-size: 40px;
	
}
.over{
	width: 221px;
	height: 40px;
	background:url(../img/game_over.png) no-repeat;
	position: absolute;
    top: -100%;
      left: 50%;
    transform: translateX(-50%);
}
}
.ok{
	width: 96px;
	height: 33px;
	position: relative;
	text-align: center;
}
.ok_img{
	text-align: center;
	position: absolute;
	top: 220px;
	 left: 50%;
    transform: translateX(-50%);
}
#bigScore{
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	margin:0px auto;
	height:39px;
	display: none;
	top:0;
}